form {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

form div {
  display: flex;
  flex-direction: column;
  width: 22%;
}

imput {
  border: none;
}

button {
  width: 30%;
}
